/* 
 * NeoSeq Pipeline Master config file.
 * Author: Shawn Rynearson
 * Copyright (c) 2020, Utah Center for Genetic Discovery.
*/

// NeoSeq Pipeline Version
params.version = '1.1.39'

params {

    vep_cache = "$APPS/vep/97.3/vep_cache"
    vep_plugin = "$APPS/vep/97.3/vep_cache/Plugins/"
    vep_assembly = 'GRCh38'

    // GFF3 files used for smoove
    gff3 = '$DATA/GFF3/GRCh38/Homo_sapiens.chr.GRCh38.97.gff3.gz'

    // WGS bed files defaults for GVCFtyper/VEP.
    wgsBeds = "$DATA/Regions/GRCh38/WGS/"
    regionBeds = "$DATA/Regions/GRCh38/UCGD.WGS.Region.bed"

    // HPO file
    hpo_file = "$DATA/Human_Phenotype_Ontology/hp.obo"

    // Default runtime parameters
    polishedData = "$baseDir/Data/PolishedCrams"
    reports      = "$baseDir/Reports"
    fastp        = "$baseDir/Reports/fastp"
    alignstats   = "$baseDir/Reports/alignstats"
    goleft       = "$baseDir/Reports/goleft"
    peddy        = "$baseDir/Reports/peddy"
    gvcfs        = "$baseDir/VCF/GVCFs"
    complete     = "$baseDir/VCF/Complete"
    smoove       = "$baseDir/VCF/Smoove"
    manta        = "$baseDir/VCF/Manta"
    mantastats   = "$baseDir/Reports/manta"
    mosaicstats  = "$baseDir/Reports/mosaic"

    // Needed GRCh38 reference files
    reference    = "$DATA/Reference/GRCh38/human_g1k_v38_decoy_phix.fasta"
    referencefai = "$DATA/Reference/GRCh38/human_g1k_v38_decoy_phix.fasta.fai"
    indel_mills  = "$DATA/GATK_Bundle/GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    dbsnp        = "$DATA/GATK_Bundle/GRCh38/dbsnp_138.hg38.vcf.gz"
    hapmap       = "$DATA/GATK_Bundle/GRCh38/hapmap_3.3.hg38.vcf.gz"
    omni         = "$DATA/GATK_Bundle/GRCh38/1000G_omni2.5.hg38.vcf.gz"
    snp_1G       = "$DATA/GATK_Bundle/GRCh38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"

    // VQSR default parameters
    hapmap_par   = 'hapmap,known=false,training=true,truth=true,prior=15.0'
    omni_par     = 'omni,known=false,training=true,truth=true,prior=12.0'
    snp_1G_par   = '1000G,known=false,training=true,truth=false,prior=10.0'
    mills_par    = 'mills,known=false,training=true,truth=true,prior=12.0'
    dbsnp_par    = 'dbsnp,known=true,training=false,truth=false,prior=2.0'

    // Slivar prior files.
    slivar_js   = "$DATA/Slivar/trio.js"
    slivar_gff3 = "$DATA/Slivar/Homo_sapiens.GRCh38.98.chr_add-chr_chrM.gff3.gz"
    slivar_pli  = "$DATA/Slivar/pli.lookup"
    slivar_clinvar = "$DATA/Slivar/clinvar_gene_desc_210512.txt"

    gnomad_v2 = "$DATA/Slivar/db/gnomad.hg38.v2.zip"
    gnomad_2x = "$DATA/Slivar/db/gnomad2b38_chrX_AC_male.zip"
    gnomad311 = "$DATA/Slivar/db/gnomad311.zip"

    // Full sentieon annotations supported only on GRCh38
    gvcf_annos = '--annotation AC --annotation AF --annotation AN --annotation BaseQRankSum --annotation DP --annotation ExcessHet --annotation FS --annotation InbreedingCoeff --annotation MLEAC --annotation MLEAF --annotation MQ --annotation MQRankSum --annotation QD --annotation ReadPosRankSum --annotation SOR --annotation SAC --annotation AS_BaseQRankSum --annotation AS_FS --annotation AS_InbreedingCoeff --annotation AS_MQRankSum --annotation AS_QD --annotation AS_MQ --annotation AS_ReadPosRankSum --annotation AS_SOR'
    vqsr_annos = '--annotation AC --annotation AF --annotation AN --annotation BaseQRankSum --annotation DP --annotation ExcessHet --annotation FS --annotation InbreedingCoeff --annotation MLEAC --annotation MLEAF --annotation MQ --annotation MQRankSum --annotation QD --annotation ReadPosRankSum --annotation SOR'
}

// Run report
report {
    enabled = true
    file = 'UCGD_Execution_Report.html'
}

// Settings for trace report
trace {
    enabled = true
    file = 'UCGD_Trace_Report.txt'
    raw = true
}

// set container values.
singularity {
    enabled = true
    runOptions ="-B /scratch/:/scratch -B /uufs/:/uufs"
    envWhitelist='APPS,UUFSCELL,DATA,USCRATCH,REPOSITORY,PROCESSING,ANALYSIS,SLURM_CPUS_ON_NODE,SLURM_JOB_ID,USER'
}

process {
    errorStrategy = 'retry'
    maxRetries = 10
    executor = 'slurm'
    maxForks = 100
    clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw'

    withLabel: local {
        executor = 'local'
    }
    withLabel: localterm {
        errorStrategy = 'terminate'
        executor = 'local'
    }
    withLabel: ucgdmods {
        module = 'ucgd_modules'
    }
    withLabel: source_check {
        errorStrategy = 'terminate'
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=10 --mem=50G'
        container = 'srynobio/samtools:latest'
    }
    withLabel: fqf {
        module = 'fastqforward/2.04'
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw -N 4'
    }
    withLabel: fastp {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=10 --mem=20G'
        container = 'srynobio/fastp:latest'
    }
    withLabel: samtools {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=10 --mem=20G'
        container = 'srynobio/samtools:latest'
    }
    withLabel: mosaic {
        module = 'ucgd_modules'
        errorStrategy = 'ignore'
    }
    withLabel: sentieon {
        container = 'srynobio/sentieon-chpc:latest'
    }
    withLabel: bcftools {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=10 --mem=20G'
        container = 'srynobio/bcftools:latest'
    }
    withLabel: picard {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=3 --mem=30G'
        container = 'srynobio/picard:latest'
    }
    withLabel: vep {
        module = 'ucgd_modules'
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=10 --mem=10G'
    }
    withLabel: alignstats {
        container = 'srynobio/alignstats:latest'
    }
    withLabel: peddy {
        container = 'srynobio/peddy:latest'
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=10 --mem=20G'
    }
    withLabel: goleftIndexCov {
        container = 'srynobio/goleft:latest'
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=5 --mem=20G'
    }
    withLabel: slivar {
        errorStrategy = 'ignore'
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw'
        container = 'srynobio/slivar:latest'
    }
    withLabel: multiqc {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=5 --mem=20G'
        container = 'srynobio/multiqc:latest'
    }
    withLabel: smoove {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=5 --mem=20G'
        exclude = '~_random,~Un_K,~Un_GL,~_alt,~chrEBV,~_decoy,~^HLA-,~^phix'
        container = 'srynobio/smoove:latest'
    }
    withLabel: manta {
        clusterOptions = '-A ucgd-rw -p ucgd-rw --qos ucgd-neo-rw --partition ucgd-shared-rw -N 1 --ntasks=5 --mem=20G'
        container = 'srynobio/manta:latest'
    }
}
